In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("MetObjects.csv")

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
#dfs = pd.read_csv("simple_met_repair.csv")

In [24]:
#len(df)
#dfs.groupby('Object Begin Date').count()

In [19]:
#len(dfs)
dfs['Object Begin Date']=="".reduce(sum)

AttributeError: 'str' object has no attribute 'reduce'

In [3]:
#df.to_json("metjson.json", orient="index")

In [4]:
df.ix[0].apply(type)

Object Number                      <class 'str'>
Is Highlight               <class 'numpy.bool_'>
Is Public Domain           <class 'numpy.bool_'>
Object ID                  <class 'numpy.int64'>
Department                         <class 'str'>
Object Name                        <class 'str'>
Title                              <class 'str'>
Culture                          <class 'float'>
Period                           <class 'float'>
Dynasty                          <class 'float'>
Reign                            <class 'float'>
Portfolio                        <class 'float'>
Artist Role                        <class 'str'>
Artist Prefix                    <class 'float'>
Artist Display Name                <class 'str'>
Artist Display Bio                 <class 'str'>
Artist Suffix                    <class 'float'>
Artist Alpha Sort                  <class 'str'>
Artist Nationality                 <class 'str'>
Artist Begin Date                  <class 'str'>
Artist End Date                    <class 'str'>
Object Date                        <class 'str'>
Object Begin Date          <class 'numpy.int64'>
Object End Date            <class 'numpy.int64'>
Medium                             <class 'str'>
Dimensions                         <class 'str'>
Credit Line                        <class 'str'>
Geography Type                   <class 'float'>
City                             <class 'float'>
State                            <class 'float'>
County                           <class 'float'>
Country                          <class 'float'>
Region                           <class 'float'>
Subregion                        <class 'float'>
Locale                           <class 'float'>
Locus                            <class 'float'>
Excavation                       <class 'float'>
River                            <class 'float'>
Classification                     <class 'str'>
Rights and Reproduction          <class 'float'>
Link Resource                      <class 'str'>
Metadata Date                      <class 'str'>
Repository                         <class 'str'>
Name: 0, dtype: object

In [5]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"

In [6]:
math = pd.read_csv("math_obs.txt", sep="\t")
math.head()

      obj_num
0  1996.142.2
1     35.93.1
2     35.93.2
3     1984.76
4  1998.406.2

In [7]:
def objMatcher(nums):
    mathlist = []
    for i,el in enumerate(nums):
        for j in math.obj_num:
            if el== j:
                mathlist.append(df.ix[i])
    return mathlist

In [8]:
mdf = pd.DataFrame(objMatcher(df['Object Number']))

In [9]:
mdf = mdf.reset_index()

In [11]:
mdf = mdf.drop(mdf.columns[[8, 9, 10, 11, 14, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43]], axis=1)

In [12]:
#mdf = pd.read_csv("mathtsv.tsv", sep="\t")

In [13]:
mdf.columns

Index(['index', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Object ID', 'Department', 'Object Name', 'Title', 'Portfolio',
       'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource'],
      dtype='object')

In [14]:
mdf['Dimensions'].head()

0            Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm)
1            Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm)
2                  12 1/16 x 8 7/8 in. (30.6 x 22.6cm)
3           Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm)
4    sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...
Name: Dimensions, dtype: object

In [15]:
mdf['cm_Dimensions'] = mdf.Dimensions.str.findall("\((\d+\.?\d?).*(\d+\.?\d?).*\)")

In [16]:
mdf['Donation_Date'] = mdf['Credit Line'].str.findall("\d{4}")

In [17]:
mdf.head()

,index,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Portfolio,Artist Role,...,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Classification,Rights and Reproduction,Link Resource,cm_Dimensions,Donation_Date
0,208883,1984.66,False,True,334372,Drawings and Prints,Drawing,"Allegorical Figure of the City of Piacenza, fo...",NaN,Artist,...,1821,1821,"Graphite, heightened with white, squared in gr...",Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm),"Purchase, The David L. Klein, Jr. Memorial Fou...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(30, 2)]",[1984]
1,208884,1984.76,False,True,334373,Drawings and Prints,Drawing,"Study for ""Mme Théodore Gobillard"" (née Yves M...",NaN,Artist,...,1869,1869,"Graphite, squared, on buff tracing paper, moun...",Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm),"Purchase, Harris Brisbane Dick Fund, David T. ...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(31.5, 4)]",[1984]
2,208998,1991.1,False,True,334488,Drawings and Prints,Drawing,Group of Apostles,NaN,Draftsman,...,1854,1861,"Graphite, squared, on light gray paper",12 1/16 x 8 7/8 in. (30.6 x 22.6cm),"Purchase, Stephen A. Geiger Gift, 1991",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(30.6, 6)]",[1991]
3,208999,1991.111,False,True,334489,Drawings and Prints,Drawing,Standing Soldier: Study for the Chapel of Sain...,NaN,Artist,...,1851,1852,"Conté crayon and red chalk, heightened with wh...",Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm),"Purchase, Mrs. Carl L. Selden Gift, in memory ...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(43.9, 5)]",[]
4,209060,1992.1043.4,False,False,334551,Drawings and Prints,Print,Untitled,"From the series ""Forms Derived from a Cube"" (s...",Artist|Printer|Publisher,...,1982,1982,Aquatint and etching,sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...,"Gift of Norman B. Colp and Marsha Stern-Colp, ...",Prints,"© 2017 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,"[(52.5, 3), (45, 5)]",[1992]

In [18]:
mdf.columns

Index(['index', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Object ID', 'Department', 'Object Name', 'Title', 'Portfolio',
       'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource', 'cm_Dimensions', 'Donation_Date'],
      dtype='object')

In [28]:
mdFilter = mdf[['Title','Artist Begin Date', 'Artist End Date', 'Artist Display Name','Artist Nationality','Object Begin Date','Object End Date','cm_Dimensions','Donation_Date','Link Resource']].copy()

In [29]:
mdFilter.head()

,Title,Artist Begin Date,Artist End Date,Artist Display Name,Artist Nationality,Object Begin Date,Object End Date,cm_Dimensions,Donation_Date,Link Resource
0,"Allegorical Figure of the City of Piacenza, fo...",1785,1861,Alexandre Denis Abel de Pujol,French,1821,1821,"[(30, 2)]",[1984],http://www.metmuseum.org/art/collection/search...
1,"Study for ""Mme Théodore Gobillard"" (née Yves M...",1834,1917,Edgar Degas,French,1869,1869,"[(31.5, 4)]",[1984],http://www.metmuseum.org/art/collection/search...
2,Group of Apostles,1809,1864,Hippolyte Flandrin,French,1854,1861,"[(30.6, 6)]",[1991],http://www.metmuseum.org/art/collection/search...
3,Standing Soldier: Study for the Chapel of Sain...,1823,1893,Victor-François-Eloi Biennourry,French,1851,1852,"[(43.9, 5)]",[],http://www.metmuseum.org/art/collection/search...
4,Untitled,1928 |1900,2007 |1999,Sol LeWitt|Jeryl Parker|Multiples/Goodman Gallery,American|American,1982,1982,"[(52.5, 3), (45, 5)]",[1992],http://www.metmuseum.org/art/collection/search...

In [30]:
mdFilter['url_num'] = mdFilter['Link Resource'].str.findall("\d+$")
del mdFilter['Link Resource']

In [32]:
mdFilter.head(100)

,Title,Artist Begin Date,Artist End Date,Artist Display Name,Artist Nationality,Object Begin Date,Object End Date,cm_Dimensions,Donation_Date,url_num
0,"Allegorical Figure of the City of Piacenza, fo...",[1785],[1861],Alexandre Denis Abel de Pujol,French,1821,1821,"[(30, 2)]",[1984],[334372]
1,"Study for ""Mme Théodore Gobillard"" (née Yves M...",[1834],[1917],Edgar Degas,French,1869,1869,"[(31.5, 4)]",[1984],[334373]
2,Group of Apostles,[1809],[1864],Hippolyte Flandrin,French,1854,1861,"[(30.6, 6)]",[1991],[334488]
3,Standing Soldier: Study for the Chapel of Sain...,[1823],[1893],Victor-François-Eloi Biennourry,French,1851,1852,"[(43.9, 5)]",[],[334489]
4,Untitled,[1928],[2007],Sol LeWitt|Jeryl Parker|Multiples/Goodman Gallery,American|American,1982,1982,"[(52.5, 3), (45, 5)]",[1992],[334551]
5,Landscape with a Large Building,[1798],[1883],Franz von Hauslab the Younger,Austrian,1818,1883,"[(24.4, 0)]",[1953],[335792]
6,Landscape with a Large Building,[1798],[1883],Franz von Hauslab the Younger,Austrian,1818,1883,"[(37.8, 6)]",[1953],[335793]
7,Study of Drapery,[1762],[1834],Jean-Baptiste Joseph Wicar,French,1818,1818,"[(21.6, 7)]",[1996],[336066]
8,A Woman Distributing Bread from a Basket: Stud...,[1823],[1893],Victor-François-Eloi Biennourry,French,1850,1853,"[(40.0, 1)]",[1998],[336782]
9,View of the Colosseum from the Basilica of Dom...,[1819],[1916],Henri-Joseph Harpignies,French,1864,1864,"[(25.6, 8), (40., 6)]",[1963],[337307]
10,Perspectiva Corporum Regularium,[1539],[1591],Jost Amman|Wenzel Jamnitzer,Swiss|German,1568,1568,"[(35, 1)]",[1924],[339008]
11,"Study for Geometry in “The Sorbonne""",[1824],[1898],Pierre Puvis de Chavannes,French,1886,1887,"[(25.4, 5)]",[1935],[339662]
12,Seated Figure: Study for “A Vision of Antiquity”,[1824],[1898],Pierre Puvis de Chavannes,French,1883,1885,"[(37.2, 6)]",[1935],[339663]
13,0 through 9,[1950],[2050],Universal Limited Art Editions|Jasper Johns|Do...,American|American,1967,1967,"[(63.5, 8)]",[1967],[342036]
14,Underweysung der messung mit dem zirckel un ri...,[1471],[1528],"Albrecht Dürer|Hieronymus Andreae, called Form...",German|German,1525,1525,"[(28, 4)]",[1981],[349058]
15,Summa de Arithmetica,[1505],[1523],Francisco di Lionardo Ghaligaio|Bernardo Zucch...,Italian|Italian,1521,1521,NaN,[1925],[350456]
16,"Des Circkels unnd Richtscheyts, auch der Persp...",[1561],[1580],Heinrich Lautensack|Georg Rab|Sigmund Feyerabe...,German|German|German,1564,1564,"[(29.9, 3)]",[1925],[352997]
17,Margarita Philosophica,[1485],[1529],Gregorius Reisch|Urs Graf|Johann Schott,German|Swiss|German,1504,1504,"[(22.5, 7)]",[1937],[356047]
18,Underweissung der Proportzion und stellung der...,[1491],[1542],Erhard Schön|Christoff Zell|William Chatto,German|German,1538,1538,"[(17.7, 1)]",[1946],[356827]
19,Arismetrica: Valle Siculi,NaN,NaN,Nicolaus Valla,NaN,1485,1505,NaN,[1925],[358270]
20,An Attempt to Discriminate the Styles of Archi...,[1776],[1841],"Thomas Rickman|Longman, Hurst, Rees and Orme|G...","British|British|British|British, Scottish",1825,1825,"[(23.2, 5)]",[1935],[359117]
21,Garden of Mathematical Sciences,[1603],[1670],Francesco Curti,Italian,1615,1670,NaN,[1951],[359981]
22,Melencolia I,[1471],[1528],Albrecht Dürer,German,1514,1514,"[(24.3, 9)]",[1919],[360018]
23,An Alleyway between Houses,[1812],[1867],Théodore Rousseau,French,1858,1858,"[(36.4, 9)]",[2004],[366319]
24,Di Lucio Vitruvio Pollione De architectura Lib...,[],[0001],Marcus Pollio Vitruvius|Cesare Cesariano|Bened...,Italian|Italian|Italian|Italian|Italian|Italia...,1521,1521,"[(42.2, 5)]",[1941],[367690]
25,Ruins of the Imperial Palaces in Rome,[1768],[1839],Joseph Anton Koch,Austrian,1810,1810,"[(38, 2)]",[2005],[368568]
26,Italian View: A Pathway and Arbor at the Base ...,[1793],[1860],Friedrich Salathé,Swiss,1815,1821,"[(15.1, 5)]",[2005],[370850]
27,Transformation D,[1888],[1976],Josef Albers,"American, born Germany",1950,1950,"[(18.1, 1)]",[1971],[373093]
28,Transformation B,[1888],[1976],Josef Albers,"American, born Germany",1950,1950,"[(18.1, 1)]",[1971],[373257]
29,Perspectival Drawing of a Column Base with Cube,[1485],[1546],Peter Flötner,German,1528,1528,"[(10.8, 5)]",[2007],[380376]
30,Perspectival Drawing with Three Cubes,[1485],[1546],Peter Flötner,German,1528,1528,"[(6.5, 2)]",[2007],[380379]
31,Tabula Cebetis,[1515],[1601],David Kandel,German,1515,1601,"[(32.5, 1), (34.5, 5)]",[1944],[386634]
32,Study of a Soldier,[1823],[1893],Victor-François-Eloi Biennourry,French,1851,1852,"[(41.9, 3)]",[2009],[390933]
33,Temperance (Temperantia) from The Virtues,[1537],[1612],Philips Galle|Pieter Bruegel the Elder|Hierony...,Netherlandish|Netherlandish|Netherlandish,1559,1564,"[(24.4, 2), (22.3, 1)]",[1926],[410929]
34,Blind Orion Searching for the Rising Sun,[1594],[1665],Nicolas Poussin,French,1658,1658,"[(119.1, 9)]",[1924],[437326]
35,Counting Alternatives: The Wittgenstein Illust...,[1940],[2040],Mel Bochner,American,1991,1991,"[(50.8, 1)]",[1997],[486856]
36,"Man Born to Toil, from The Reward of Labour an...",[1537],[1612],Philips Galle|Maarten van Heemskerck,Netherlandish|Netherlandish,1572,1572,"[(20.8, 5)]",[1949],[631739]
37,"New Inventions of Modern Times [Nova Reperta],...",[1523],[1605],"Jan van der Straet, called Stradanus|Jan Colla...",Netherlandish|Netherlandish|Netherlandish,1595,1605,"[(27, 0)]",[1934],[659663]
38,27/6 V from the series 'Footfalls',[1947],[2047],Niels Borch Jensen Editions|Galerie Hein Elfer...,NaN,2014,2014,"[(54, 4), (32.8, 4)]",[2015],[692359]
39,23/6 III from the series 'Footfalls',[1947],[2047],Niels Borch Jensen Editions|Linda Karshan|Gale...,NaN,2014,2014,"[(53.5, 3), (32.7, 5)]",[2015],[692361]
40,Concinnitas,[1930],[2080],Stephen Smale|Steven Weinberg|Murray Gell-Mann...,NaN,2014,2014,"[(55.9, 2), (66.4, 3)]",[2015],[696840]
41,Untitled from Locus,[1934],[2034],Dorothea Rockburne|Parasol Press Ltd.|Crown Po...,NaN,1972,1972,"[(101, 4)]",[2015],[697918]
42,Constellations,[1943],[2043],Center for Contemporary Printmaking|Howardena ...,NaN,2015,2015,"[(76.2, 9), (45., 7)]",[2015],[700409]
43,F from Sketches,[1950],[2000],Donn Steward|Cy Twombly|Universal Limited Art ...,NaN,1967,1975,"[(17.5, 9), (30.8, 9)]",[1975],[709422]
44,Cover Page from Geometria et Perspectiva,[1530],[1621],Lorenz Stoer|Hans Rogel,NaN,1567,1567,"[(24.9, 4)]",[1984],[718394]
45,0+0=7,[1959],[9999],Suzanne McClelland,NaN,2015,2015,"[(61, 7)]",[2016],[727557]
46,Labor,[1532],[1603],Maerten de Vos|Raphael Sadeler I,NaN,1591,1591,"[(23.5, 8), (22, 6)]",[1944],[739485]
47,"Geometria, from The Seven Liberal Arts",[1532],[1603],Maerten de Vos|Johann Sadeler I,NaN,1565,1575,"[(14.7, 1)]",[1949],[739491]
48,"Arithmetica, from The Seven Liberal Arts",[1532],[1603],Maerten de Vos|Johann Sadeler I,NaN,1565,1575,"[(14.7, 7)]",[1949],[739493]
49,"Plate 24: Geometria XXIIII, from E-Series Taro...",[1400],[1500],"Anonymous, Italian, 15th century",NaN,1400,1499,"[(18.2, 0)]",[1992],[739495]
50,The Architect,[1500],[1600],Georges Reverdy,NaN,1524,1557,"[(7.8, 1)]",[1964],[739505]

In [31]:
mdFilter['Artist Begin Date'] = mdFilter['Artist Begin Date'].str.findall("^\d{4}")
mdFilter['Artist End Date'] =  mdFilter['Artist End Date'].str.findall("^\d{4}")

In [46]:
#mdf['floatcm'] = mdf.cm_Dimensions.apply(lambda x: [float(i) for i in x])

TypeError: float() argument must be a string or a number, not 'tuple'

In [33]:
mdFilter.to_json("mathjson.json", orient="records")
#mdf.to_json("mathjson.json", orient="index")
mdFilter.to_csv("mathtsv.tsv", sep="\t")
#mdf.to_csv("mathtsv.tsv", sep="\t")

In [25]:
len(mdf)

51

In [26]:
#city = mdf.groupby('Artist Display Bio').count()