In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("MetObjects.csv")

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#df.to_json("metjson.json", orient="index")

In [4]:
df.ix[0].apply(type)

Object Number                      <class 'str'>
Is Highlight               <class 'numpy.bool_'>
Is Public Domain           <class 'numpy.bool_'>
Object ID                  <class 'numpy.int64'>
Department                         <class 'str'>
Object Name                        <class 'str'>
Title                              <class 'str'>
Culture                          <class 'float'>
Period                           <class 'float'>
Dynasty                          <class 'float'>
Reign                            <class 'float'>
Portfolio                        <class 'float'>
Artist Role                        <class 'str'>
Artist Prefix                    <class 'float'>
Artist Display Name                <class 'str'>
Artist Display Bio                 <class 'str'>
Artist Suffix                    <class 'float'>
Artist Alpha Sort                  <class 'str'>
Artist Nationality                 <class 'str'>
Artist Begin Date                  <class 'str'>
Artist End Date                    <class 'str'>
Object Date                        <class 'str'>
Object Begin Date          <class 'numpy.int64'>
Object End Date            <class 'numpy.int64'>
Medium                             <class 'str'>
Dimensions                         <class 'str'>
Credit Line                        <class 'str'>
Geography Type                   <class 'float'>
City                             <class 'float'>
State                            <class 'float'>
County                           <class 'float'>
Country                          <class 'float'>
Region                           <class 'float'>
Subregion                        <class 'float'>
Locale                           <class 'float'>
Locus                            <class 'float'>
Excavation                       <class 'float'>
River                            <class 'float'>
Classification                     <class 'str'>
Rights and Reproduction          <class 'float'>
Link Resource                      <class 'str'>
Metadata Date                      <class 'str'>
Repository                         <class 'str'>
Name: 0, dtype: object

In [5]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"

In [6]:
math = pd.read_csv("math_obs.txt", sep="\t")
math.head()

      obj_num
0  1996.142.2
1     35.93.1
2     35.93.2
3     1984.76
4  1998.406.2

In [7]:
def objMatcher(nums):
    mathlist = []
    for i,el in enumerate(nums):
        for j in math.obj_num:
            if el== j:
                mathlist.append(df.ix[i])
    return mathlist

In [8]:
mdf = pd.DataFrame(objMatcher(df['Object Number']))

In [9]:
mdf = mdf.reset_index()

In [10]:
mdf = mdf.drop(mdf.columns[[8, 9, 10, 11, 14, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43]], axis=1)

In [11]:
#mdf = pd.read_csv("mathtsv.tsv", sep="\t")

In [12]:
mdf.columns

Index(['index', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Object ID', 'Department', 'Object Name', 'Title', 'Portfolio',
       'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource'],
      dtype='object')

In [13]:
mdf['Dimensions'].head()

0            Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm)
1            Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm)
2                  12 1/16 x 8 7/8 in. (30.6 x 22.6cm)
3           Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm)
4    sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...
Name: Dimensions, dtype: object

In [14]:
mdf['cm_Dimensions'] = mdf.Dimensions.str.findall("\((\d+\.?\d?).*(\d+\.?\d?).*\)")

In [15]:
mdf['Donation_Date'] = mdf['Credit Line'].str.findall("\d{4}")

In [16]:
mdf.head()

,index,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Portfolio,Artist Role,...,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Classification,Rights and Reproduction,Link Resource,cm_Dimensions,Donation_Date
0,208883,1984.66,False,True,334372,Drawings and Prints,Drawing,"Allegorical Figure of the City of Piacenza, fo...",NaN,Artist,...,1821,1821,"Graphite, heightened with white, squared in gr...",Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm),"Purchase, The David L. Klein, Jr. Memorial Fou...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(30, 2)]",[1984]
1,208884,1984.76,False,True,334373,Drawings and Prints,Drawing,"Study for ""Mme ThÃ©odore Gobillard"" (nÃ©e Yves M...",NaN,Artist,...,1869,1869,"Graphite, squared, on buff tracing paper, moun...",Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm),"Purchase, Harris Brisbane Dick Fund, David T. ...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(31.5, 4)]",[1984]
2,208998,1991.1,False,True,334488,Drawings and Prints,Drawing,Group of Apostles,NaN,Draftsman,...,1854,1861,"Graphite, squared, on light gray paper",12 1/16 x 8 7/8 in. (30.6 x 22.6cm),"Purchase, Stephen A. Geiger Gift, 1991",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(30.6, 6)]",[1991]
3,208999,1991.111,False,True,334489,Drawings and Prints,Drawing,Standing Soldier: Study for the Chapel of Sain...,NaN,Artist,...,1851,1852,"ContÃ© crayon and red chalk, heightened with wh...",Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm),"Purchase, Mrs. Carl L. Selden Gift, in memory ...",Drawings,NaN,http://www.metmuseum.org/art/collection/search...,"[(43.9, 5)]",[]
4,209060,1992.1043.4,False,False,334551,Drawings and Prints,Print,Untitled,"From the series ""Forms Derived from a Cube"" (s...",Artist|Printer|Publisher,...,1982,1982,Aquatint and etching,sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...,"Gift of Norman B. Colp and Marsha Stern-Colp, ...",Prints,"Â© 2017 Artists Rights Society (ARS), New York",http://www.metmuseum.org/art/collection/search...,"[(52.5, 3), (45, 5)]",[1992]

In [18]:
mdf.columns

Index(['index', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Object ID', 'Department', 'Object Name', 'Title', 'Portfolio',
       'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource', 'cm_Dimensions', 'Donation_Date'],
      dtype='object')

In [19]:
mdFilter = mdf[['Title','Artist Display Name','Artist Nationality','Object Begin Date','Object End Date','cm_Dimensions','Donation_Date','Link Resource']].copy()

In [20]:
mdFilter.head()

,Title,Artist Display Name,Artist Nationality,Object Begin Date,Object End Date,cm_Dimensions,Donation_Date,Link Resource
0,"Allegorical Figure of the City of Piacenza, fo...",Alexandre Denis Abel de Pujol,French,1821,1821,"[(30, 2)]",[1984],http://www.metmuseum.org/art/collection/search...
1,"Study for ""Mme ThÃ©odore Gobillard"" (nÃ©e Yves M...",Edgar Degas,French,1869,1869,"[(31.5, 4)]",[1984],http://www.metmuseum.org/art/collection/search...
2,Group of Apostles,Hippolyte Flandrin,French,1854,1861,"[(30.6, 6)]",[1991],http://www.metmuseum.org/art/collection/search...
3,Standing Soldier: Study for the Chapel of Sain...,Victor-FranÃ§ois-Eloi Biennourry,French,1851,1852,"[(43.9, 5)]",[],http://www.metmuseum.org/art/collection/search...
4,Untitled,Sol LeWitt|Jeryl Parker|Multiples/Goodman Gallery,American|American,1982,1982,"[(52.5, 3), (45, 5)]",[1992],http://www.metmuseum.org/art/collection/search...

In [30]:
mdFilter['url_num'] = mdFilter['Link Resource'].str.findall("\d+$")
del mdFilter['Link Resource']

In [31]:
mdFilter.head()

,Title,Artist Display Name,Artist Nationality,Object Begin Date,Object End Date,cm_Dimensions,Donation_Date,url_num
0,"Allegorical Figure of the City of Piacenza, fo...",Alexandre Denis Abel de Pujol,French,1821,1821,"[(30, 2)]",[1984],[334372]
1,"Study for ""Mme ThÃ©odore Gobillard"" (nÃ©e Yves M...",Edgar Degas,French,1869,1869,"[(31.5, 4)]",[1984],[334373]
2,Group of Apostles,Hippolyte Flandrin,French,1854,1861,"[(30.6, 6)]",[1991],[334488]
3,Standing Soldier: Study for the Chapel of Sain...,Victor-FranÃ§ois-Eloi Biennourry,French,1851,1852,"[(43.9, 5)]",[],[334489]
4,Untitled,Sol LeWitt|Jeryl Parker|Multiples/Goodman Gallery,American|American,1982,1982,"[(52.5, 3), (45, 5)]",[1992],[334551]

In [46]:
#mdf['floatcm'] = mdf.cm_Dimensions.apply(lambda x: [float(i) for i in x])

TypeError: float() argument must be a string or a number, not 'tuple'

In [32]:
mdFilter.to_json("mathjson.json", orient="index")
#mdf.to_json("mathjson.json", orient="index")
mdFilter.to_csv("mathtsv.tsv", sep="\t")
#mdf.to_csv("mathtsv.tsv", sep="\t")

In [25]:
len(mdf)

51

In [26]:
#city = mdf.groupby('Artist Display Bio').count()