In [1]:
import numpy as np
import pandas as pd

In [3]:
#df = pd.read_csv("../../../met_work/MetObjects.csv")

In [4]:
#df.to_json("metjson.json", orient="index")

In [5]:
df.ix[0].apply(type)

Object Number                      <class 'str'>
Is Highlight               <class 'numpy.bool_'>
Is Public Domain           <class 'numpy.bool_'>
Object ID                  <class 'numpy.int64'>
Department                         <class 'str'>
Object Name                        <class 'str'>
Title                              <class 'str'>
Culture                          <class 'float'>
Period                           <class 'float'>
Dynasty                          <class 'float'>
Reign                            <class 'float'>
Portfolio                        <class 'float'>
Artist Role                        <class 'str'>
Artist Prefix                    <class 'float'>
Artist Display Name                <class 'str'>
Artist Display Bio                 <class 'str'>
Artist Suffix                    <class 'float'>
Artist Alpha Sort                  <class 'str'>
Artist Nationality                 <class 'str'>
Artist Begin Date                  <class 'str'>
Artist End Date                    <class 'str'>
Object Date                        <class 'str'>
Object Begin Date          <class 'numpy.int64'>
Object End Date            <class 'numpy.int64'>
Medium                             <class 'str'>
Dimensions                         <class 'str'>
Credit Line                        <class 'str'>
Geography Type                   <class 'float'>
City                             <class 'float'>
State                            <class 'float'>
County                           <class 'float'>
Country                          <class 'float'>
Region                           <class 'float'>
Subregion                        <class 'float'>
Locale                           <class 'float'>
Locus                            <class 'float'>
Excavation                       <class 'float'>
River                            <class 'float'>
Classification                     <class 'str'>
Rights and Reproduction          <class 'float'>
Link Resource                      <class 'str'>
Metadata Date                      <class 'str'>
Repository                         <class 'str'>
Name: 0, dtype: object

In [6]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"

In [8]:
math = pd.read_csv("math_obs.txt", sep="\t")
math.head()

      obj_num
0  1996.142.2
1     35.93.1
2     35.93.2
3     1984.76
4  1998.406.2

In [9]:
def objMatcher(nums):
    mathlist = []
    for i,el in enumerate(nums):
        for j in math.obj_num:
            if el== j:
                mathlist.append(df.ix[i])
    return mathlist

In [10]:
mdf = pd.DataFrame(objMatcher(df['Object Number']))

In [11]:
mdf = mdf.reset_index()

In [14]:
mdf = mdf.drop(mdf.columns[[8, 9, 10, 11, 14, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43]], axis=1)

In [4]:
mdf = pd.read_csv("mathtsv.tsv", sep="\t")

In [5]:
mdf.columns

Index(['Unnamed: 0', 'index', 'Object Number', 'Is Highlight',
       'Is Public Domain', 'Object ID', 'Department', 'Object Name', 'Title',
       'Portfolio', 'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource'],
      dtype='object')

In [7]:
mdf['Dimensions'].head()

0            Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm)
1            Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm)
2                  12 1/16 x 8 7/8 in. (30.6 x 22.6cm)
3           Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm)
4    sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...
Name: Dimensions, dtype: object

In [47]:
mdf['cm_Dimensions'] = mdf.Dimensions.str.findall("\((\d+\.?\d?).*(\d+\.?\d?).*\)")

In [46]:
#mdf['floatcm'] = mdf.cm_Dimensions.apply(lambda x: [float(i) for i in x])

TypeError: float() argument must be a string or a number, not 'tuple'

In [24]:
mdf.head(10)
mdf.to_json("mathjson.json", orient="index")
mdf.to_csv("mathtsv.tsv", sep="\t")

In [25]:
len(mdf)

51

In [26]:
#city = mdf.groupby('Artist Display Bio').count()