In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../../../met_work/MetObjects.csv")

/Applications/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9,10,11,18,27,28,29,30,31,32,33,34,35,36,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#df.to_json("metjson.json", orient="index")

In [5]:
df.ix[0].apply(type)

Object Number                      <class 'str'>
Is Highlight               <class 'numpy.bool_'>
Is Public Domain           <class 'numpy.bool_'>
Object ID                  <class 'numpy.int64'>
Department                         <class 'str'>
Object Name                        <class 'str'>
Title                              <class 'str'>
Culture                          <class 'float'>
Period                           <class 'float'>
Dynasty                          <class 'float'>
Reign                            <class 'float'>
Portfolio                        <class 'float'>
Artist Role                        <class 'str'>
Artist Prefix                    <class 'float'>
Artist Display Name                <class 'str'>
Artist Display Bio                 <class 'str'>
Artist Suffix                    <class 'float'>
Artist Alpha Sort                  <class 'str'>
Artist Nationality                 <class 'str'>
Artist Begin Date                  <class 'str'>
Artist End Date                    <class 'str'>
Object Date                        <class 'str'>
Object Begin Date          <class 'numpy.int64'>
Object End Date            <class 'numpy.int64'>
Medium                             <class 'str'>
Dimensions                         <class 'str'>
Credit Line                        <class 'str'>
Geography Type                   <class 'float'>
City                             <class 'float'>
State                            <class 'float'>
County                           <class 'float'>
Country                          <class 'float'>
Region                           <class 'float'>
Subregion                        <class 'float'>
Locale                           <class 'float'>
Locus                            <class 'float'>
Excavation                       <class 'float'>
River                            <class 'float'>
Classification                     <class 'str'>
Rights and Reproduction          <class 'float'>
Link Resource                      <class 'str'>
Metadata Date                      <class 'str'>
Repository                         <class 'str'>
Name: 0, dtype: object

In [6]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository
0,1979.486.1,False,False,1,American Decorative Arts,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
1,1980.264.5,False,False,2,American Decorative Arts,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
2,67.265.9,False,False,3,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
3,67.265.10,False,False,4,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"
4,67.265.11,False,False,5,American Decorative Arts,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,4/10/2017 8:00:07 AM,"Metropolitan Museum of Art, New York, NY"

In [8]:
math = pd.read_csv("math_obs.txt", sep="\t")
math.head()

      obj_num
0  1996.142.2
1     35.93.1
2     35.93.2
3     1984.76
4  1998.406.2

In [9]:
def objMatcher(nums):
    mathlist = []
    for i,el in enumerate(nums):
        for j in math.obj_num:
            if el== j:
                mathlist.append(df.ix[i])
    return mathlist

In [10]:
mdf = pd.DataFrame(objMatcher(df['Object Number']))

In [11]:
mdf = mdf.reset_index()

In [14]:
mdf = mdf.drop(mdf.columns[[8, 9, 10, 11, 14, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 42, 43]], axis=1)

In [16]:
mdf.columns

Index(['index', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Object ID', 'Department', 'Object Name', 'Title', 'Portfolio',
       'Artist Role', 'Artist Display Name', 'Artist Display Bio',
       'Artist Suffix', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Classification', 'Rights and Reproduction',
       'Link Resource'],
      dtype='object')

In [23]:
mdf['Dimensions']

0             Sheet: 11 13/16 x 9 1/2 in. (30 x 24.2cm)
1             Sheet: 12 3/8 x 17 5/16 in. (31.5 x 44cm)
2                   12 1/16 x 8 7/8 in. (30.6 x 22.6cm)
3            Sheet: 17 5/16 x 8 7/8 in. (43.9 x 22.5cm)
4     sheet: 20 11/16 x 21 in. (52.5 x 53.3cm)\r\npl...
5                    9 5/8 x 15 3/4 in.  (24.4 x 40 cm)
6                 14 7/8 x 19 1/2 in.  (37.8 x 49.6 cm)
7                  8 1/2 x 6 9/16 in.  (21.6 x 16.7 cm)
8                  15-3/4 x 9-7/8 in.  (40.0 x 25.1 cm)
9     Overall: 10 1/16 x 14 1/2in. (25.6 x 36.8cm)\r...
10    Overall: 13 3/4 x 10 1/16 x 3/8in. (35 x 25.5 ...
11                      10 x 6 7/8 in. (25.4 x 17.5 cm)
12                   14 5/8 x 10 1/4 in. (37.2 x 26 cm)
13                     25 x 20 inches (63.5 x 50.8 cm.)
14    Overall: 11 x 8 5/16 x 15/16 in. (28 x 21.1 x ...
15                                                  NaN
16    Overall: 11 3/4 x 8 1/4 x 1/2 in. (29.9 x 21 x...
17    Overall: 8 7/8 x 6 1/8 x 2 3/4 in. (22.5 x 15....
18    Overall: 6 15/16 x 5 3/8 x 3/8 in. (17.7 x 13....
19                                                  NaN
20    9 1/8 × 5 11/16 × 1 3/8 in. (23.2 × 14.5 × 3.5...
21                                                  NaN
22    sheet: 9 9/16 x 7 7/16 in. (24.3 x 18.9 cm) tr...
23             sheet: 14 5/16 x 11 in. (36.4 x 27.9 cm)
24    Overall: 16 5/8 x 11 5/8 x 1 15/16 in. (42.2 x...
25          sheet: 14 15/16 x 19 3/8 in. (38 x 49.2 cm)
26         sheet: 5 15/16 x 8 7/16 in. (15.1 x 21.5 cm)
27            Sheet: 7 1/8 × 9 1/2 in. (18.1 × 24.1 cm)
28            Sheet: 7 1/8 × 9 1/2 in. (18.1 × 24.1 cm)
29             sheet: 4 1/4 x 3 3/4 in. (10.8 x 9.5 cm)
30                sheet: 2 9/16 x 4 in. (6.5 x 10.2 cm)
31    Block: 12 13/16 × 16 1/8 in. (32.5 × 41 cm)\r\...
32               sheet: 16 1/2 x 8 in. (41.9 x 20.3 cm)
33    Sheet: 9 5/8 x 12 5/16 in. (24.4 x 31.2 cm)\r\...
34                   46 7/8 x 72 in. (119.1 x 182.9 cm)
35    Each: H. 20, W. 15 inches\r\n(50.8 x 38.1 cm.)...
36           Sheet: 8 3/16 × 9 13/16 in. (20.8 × 25 cm)
37               sheet: 10 5/8 x 7 7/8 in. (27 x 20 cm)
38    Sheet: 21 1/4 × 15 1/2 in. (54 × 39.4 cm)\r\nP...
39    Sheet: 21 1/16 × 15 1/2 in. (53.5 × 39.3 cm)\r...
40    Each Plate: 22 × 30 in. (55.9 × 76.2 cm)\r\nEa...
41          Sheet: 39 3/4 × 30 1/16 in. (101 × 76.4 cm)
42    Sheet: 30 × 22 in. (76.2 × 55.9 cm)\r\nImage: ...
43    Plate: 6 7/8 × 4 5/16 in. (17.5 × 10.9 cm)\r\n...
44          Sheet: 9 13/16 × 7 5/8 in. (24.9 × 19.4 cm)
45                    Sheet: 24 × 18 in. (61 × 45.7 cm)
46    Sheet: 9 1/4 × 10 15/16 in. (23.5 × 27.8 cm)\r...
47    Sheet (Trimmed): 5 13/16 × 4 5/16 in. (14.7 × ...
48    Sheet (Trimmed): 5 13/16 × 4 3/16 in. (14.7 × ...
49    Sheet (Trimmed): 7 3/16 × 3 15/16 in. (18.2 × ...
50    Sheet (Trimmed): 3 1/16 × 4 3/8 in. (7.8 × 11....
Name: Dimensions, dtype: object

In [24]:
mdf.head(10)
mdf.to_json("mathjson.json", orient="index")
mdf.to_csv("mathtsv.tsv", sep="\t")

In [25]:
len(mdf)

51

In [26]:
#city = mdf.groupby('Artist Display Bio').count()